[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inquirer = "*"
pyinstaller = "*"
typer = "*"
watchdog = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
server = "python ./src/application.py server"
client = "python ./src/application.py client"
clean = "rm -rf ./src/__pycache__ ./build/ storage.spec ./bin"
build =	"pyinstaller --distpath ./bin/ --name storage --onefile ./src/application.py"
tests = "python ./src/tester.py"
install = "sudo install ./bin/storage /usr/bin/"
